<div class="contact d-flex justify-content-between align-items-center flex-column">
    <div class="container">
        <app-star [text]="'contact section'" [color]="'#fff'"></app-star>
        <div class="form mt-4 w-50 mx-auto">
            <div class="form-floating mx-auto mb-5 pt-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="First & Last Name">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mx-auto mb-5 pt-3">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Age">
                <label for="floatingPassword">Age</label>
            </div>
            <div class="form-floating mx-auto mb-5 pt-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mx-auto mb-5 pt-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn submitBtn ">Send Message</button>
        </div>
    </div>
</div>