<div class="about d-flex justify-content-center align-items-center pt-5 mt-5">
    <div class="container text-center">
        <app-star [text]="'about component'" [color]="'#fff'"></app-star>
        <div class="container">
            <div class="row px-5">
                <div class="col-md-6 p-3 text-start">
                    <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes
                        the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.
                    </p>
                </div>
                <div class="col-md-6 p-3 text-start">
                    <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes
                        the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>