.bg-blue {
    background-color: rgba(0, 0, 0, 0.7);
    --bs-navbar-color: #fff !important;
}

.navbar {
    padding: 24px 0;
    transition: all 0.4s ease;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 0;
}

.navbar-brand {
    font-size: 31px;
    line-height: 47px;
    font-weight: 700;
    padding: 5px 0px;
    margin-right: 16px;
}

.navbar-nav {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 8px;
}

.active {
    background-color: #1BBC9D !important;
    color: #fff !important;
}

.navbar-nav li {
    margin-right: 16px;
}